$lightgray: rgb(222, 222, 222);
$gray: rgb(133, 133, 133);
$darkgray: rgb(50, 50, 50);
$blue: rgb(123, 168, 216);

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: $gray;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

// HEADER

header {
  width: 100%;
  height: 80px;
  background-color: $darkgray;
  color: $lightgray;
  padding: 20px 15px;

  .mobileMenu {
    width: 50px;
    height: 40px;
    padding: 5px 0;
    float: left;
    // cursor: pointer;

    .dropDownIcon {
      .mobileMenuBar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
      }
    }

    .dropDownList {
      // display: block;
      display: none;
      width: 120px;
      height: 220px;
      height: auto;
      position: absolute;
      left: 0;
      top: 80px;
      a {
        display: inline-block;
        width: 110px;
        background-color: $darkgray;
        text-decoration: none;
        color: $lightgray;
        padding: 10px;
        cursor: pointer;
      }
      a:hover {
        background-color: $gray;
      }
    }
  }
  .headerStuff {
    width: 75%;
    height: 50px;
    float: right;
    background-image: url(src/images/logoWhite_QulixSystems.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
    span {
      float: left;
      margin: 12px 5% 12px 23%;
      font-size: 22px;
      color: white;
    }
    .userImage {
      max-width: 45px;
      margin: 0 3%;
      border-radius: 5px;
    }
    .searchIcon {
      max-width: 25px;
      margin: 10px 3%;
    }
  }
}

// PAGE TITLE

.content {
  .contentTitle {
    width: 100%;
    height: 80px;
    text-align: center;
    h1,
    .selectedCity {
      font-family: "Times New Roman", Times, serif;
      font-size: 36px;
      font-weight: normal;
      margin: 10px 0;
      outline: none;
      color: $darkgray;
    }
    .selectedCity {
      border: none;
      border-bottom: 2px dashed black;
      border-radius: 0;
      padding-right: 5px;
      background-color: white;
      background-image: url(src/images/arrowDown.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 15px;
    }
  }

  // FORM TOOLS

  .formTools {
    background-color: $lightgray;
    width: 100%;
    height: 60px;
    form {
      height: 60px;
      max-width: 70%;
      float: left;
      img {
        float: left;
        max-width: 25px;
        margin: 17px 25px;
        opacity: 0.4;
      }
      input {
        margin: 20px 10px;
        padding: 0 15px;
      }
    }
    .plusAndSliders {
      float: right;
      margin-right: 20px;
      img {
        display: inline-block;
        max-width: 25px;
        margin: 17px 20px;
        opacity: 0.4;
      }
    }
  }

  // USER POSTS BLOCKS

  .postBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 20px;
    .avatar {
      width: 90px;
      img {
        max-width: 60px;
      }
    }
    .postData {
      width: 80%;
      .userData {
        margin-bottom: 6px;
        p {
          font-size: 14px;
          margin: 0;
          opacity: 0.7;
          span {
            font-size: 14px;
            margin: 0 10px;
            padding: 5px 12px;
            background-color: $lightgray;
            border-radius: 5px;
            opacity: 0.7;
          }
        }
      }
      .userStat {
        margin-bottom: 6px;
        opacity: 0.7;
        img {
          max-width: 15px;
          opacity: 0.7;
        }
        span {
          font-size: 14px;
          margin-right: 10px;
          opacity: 0.7;
        }
      }
      h5 {
        margin: 0;
        color: $blue;
        font-size: 20px;
      }
      p {
        margin: 7px 0;
        color: $darkgray;
      }
      .userTags {
        margin-bottom: 6px;
        img {
          max-width: 15px;
          opacity: 0.5;
        }
        span {
          font-size: 14px;
          opacity: 0.7;
        }
      }
    }

    

  }
  // PREVIUOS AND NEXT BUTTON

  .previuosNextButton {
    text-align: center;
    height: 80px;
    padding: 50px;
    a {
      margin: 25px;
      padding: 20px 35px;
      border: 1px solid $lightgray;
      border-radius: 5px;
      color: $darkgray;
      text-decoration: none;
      span {
        margin: 0 10px;
      }
      img {
        max-width: 6px;
      }
    }
  }
}
