$lightgray: rgb(242, 242, 242);
$gray: rgb(133, 133, 133);
$darkgray: rgb(50, 50, 50);

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: $darkgray;
  color: $lightgray;
  padding: 20px 15px;

  .mobileMenu {
    width: 50px;
    height: 40px;
    padding: 5px 0;
    float: left;
    // cursor: pointer;

    .dropDownIcon {
      .mobileMenuBar {
        width: 25px;
        height: 5px;
        background-color: white;
        margin: 5px 0;
      }
    }

    .dropDownList {
      // display: block;
      display: none;
      width: 120px;
      height: 220px;
      height: auto;
      position: absolute;
      left: 0;
      top: 80px;
      a {
        display: inline-block;
        width: 110px;
        background-color: $darkgray;
        text-decoration: none;
        color: $lightgray;
        padding: 10px;
        cursor: pointer;
      }
      a:hover {
        background-color: $gray;
      }
    }
  }
  .headerStuff {
    width: 75%;
    height: 50px;
    float: right;
    background-image: url(src/images/logoWhite_QulixSystems.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
    span {
      float: left;
      margin: 12px 5% 12px 23%;
      font-size: 22px;
      color: white;
    }
    .userImage {
      max-width: 45px;
      margin: 0 3%;
      border-radius: 5px;
    }
    .searchIcon {
      max-width: 25px;
      margin: 10px 3%;
    }
  }
}

.content {
  .contentTitle {
    width: 100%;
    height: 80px;
    text-align: center;
    h1,
    .selectedCity {
      font-family: "Times New Roman", Times, serif;
      font-size: 38px;
      font-weight: normal;
      margin: 10px 0;
      outline: none;
    }
    .selectedCity {
      border: none;
      border-bottom: 2px dashed black;
      border-radius: 0;
      padding-right: 5px;
      background-color: white;
      background-image: url(src/images/arrowDown.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 15px;
    }
  }
  .formTools {
    background-color: $lightgray;
    width: 100%;
    height: 60px;
    form {
      height: 60px;
      width: 70%;
      float: left;
      img {
        float: left;
        max-width: 25px;
        margin: 17px 25px;
        opacity: 0.4;
      }
      input {
        margin: 20px 10px;
      }
    }
    img {
      display: inline-block;
      max-width: 25px;
      margin: 17px 25px;
      opacity: 0.4;
    }
  }
}
