$lightgray: #f2f4f8;
$gray: #646d81;
$darkgray: #2d313d;

$blue: rgb(123, 168, 216);

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: $gray;
}

html, body {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 430px;
}

// HEADER

header {
  width: 100%;
  height: 80px;
  background-color: $darkgray;
  color: $lightgray;
  padding: 20px 15px;
  .desktopStuff {
    display: none;
  }

  .mobileMenu {
    width: 50px;
    height: 40px;
    padding: 5px 0;
    float: left;
    // cursor: pointer;

    .dropDownIcon {
      .mobileMenuBar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
      }
    }
    .dropDownList {
      display: none;
      width: 120px;
      height: 220px;
      height: auto;
      position: absolute;
      left: 0;
      top: 80px;
      z-index: 1;
      a {
        display: inline-block;
        width: 110px;
        background-color: $darkgray;
        text-decoration: none;
        color: $lightgray;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
  .headerStuff {
    .selectedCity {
      appearance: none;
      display: none;
    }
    width: 75%;
    height: 50px;
    float: right;
    background-image: url(src/images/logoWhite_QulixSystems.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
    span {
      float: left;
      margin: 12px 5% 12px 23%;
      font-size: 22px;
      color: white;
    }
    .userImage {
      max-width: 45px;
      margin: 0 3%;
      border-radius: 5px;
    }
    .searchIcon {
      max-width: 25px;
      margin: 10px 3%;
    }
  }
}

.desktopMenu {
  display: none;
}

// PAGE TITLE

.leftMenu {
  display: none;
}

.content {
  .contentTitle {
    width: 100%;
    height: 80px;
    text-align: center;
    h1,
    .selectedCity {
      font-family: "Times New Roman", Times, serif;
      font-size: 36px;
      font-weight: normal;
      margin: 10px 0;
      outline: none;
      color: $darkgray;
    }
    .selectedCity {
      border: none;
      border-bottom: 2px dashed black;
      border-radius: 0;
      padding-right: 5px;
      background-color: white;
      appearance: none;
    }
  }

  // FORM TOOLS

  .formTools {
    background-color: $lightgray;
    width: 100%;
    height: 60px;
    form {
      height: 60px;
      max-width: 70%;
      float: left;
      img {
        float: left;
        max-width: 25px;
        margin: 17px 25px;
        opacity: 0.7;
      }
      input {
        margin: 20px 5px;
        padding: 0 10px;
        outline: none;
      }
    }
    .plusAndSliders {
      float: right;
      margin-right: 10px;
      .desktopItems {
        display: none;
      }
      img {
        display: inline-block;
        max-width: 25px;
        margin: 17px 10px;
      }
    }
  }

  // USER POSTS BLOCKS

  .postBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 20px;
    .avatar {
      width: 90px;
      img {
        max-width: 60px;
      }
    }
    .postData {
      width: 80%;
      .userData {
        margin-bottom: 6px;
        p {
          font-size: 14px;
          margin: 0;
          color: #99a1b3;
          span {
            font-size: 14px;
            margin: 0 10px;
            padding: 5px 12px;
            background-color: $lightgray;
            border-radius: 5px;
            color: #99a1b3;
          }
        }
      }
      .userStat {
        margin-bottom: 6px;
        opacity: 0.7;
        img {
          max-width: 15px;
          opacity: 0.7;
        }
        span {
          font-size: 14px;
          margin-right: 10px;
          color: #99a1b3;
        }
      }
      h5 {
        margin: 0;
        color: $blue;
        font-size: 20px;
      }
      p {
        margin: 7px 0;
        color: $darkgray;
      }
      .userTags {
        margin-bottom: 6px;
        img {
          max-width: 15px;
          opacity: 0.5;
        }
        span {
          font-size: 14px;
          color: #99a1b3;
        }
      }
    }
  }
  // PREVIUOS AND NEXT BUTTON

  .previuosNextButton {
    text-align: center;
    height: 80px;
    padding: 40px 40px 70px 40px;
    margin-bottom: 10px;
    a {
      margin: 12px;
      padding: 18px 30px;
      border: 1px solid $gray;
      border-radius: 5px;
      color: $darkgray;
      text-decoration: none;
      span {
        margin: 0 10px;
        color: $darkgray;
      }
      img {
        max-width: 6px;
      }
      
    }
  }
  .previuosNextButton {
    a:hover {
        background-color: $lightgray;
      }
  }
}

// FOOTER

footer {
  .footerMenu {
    width: 100%;
    padding: 17px 20px;
    height: 50px;
    background-color: $lightgray;
    text-align: center;
    display: block;
    border-bottom: 1px solid white;
    a {
      text-decoration: none;
      margin: 5px;
      font-size: 14px;
      padding: 12px 10px;
    }
    
  }

  .footerMenu {
    a:hover {
      border-top: 6px solid $gray;
    }
  }
  .copyRight {
    display: none;
    width: 100%;
    padding: 17px 60px;
    height: 50px;
    background-color: $lightgray;
    text-align: left;
    font-size: 14px;
    background-image: url(src/images/logoWhite_QulixSystems_gray.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 22px 17px;
  }
}

@media (min-width: 650px) {
  // HEADER

  header {
    width: 100%;
    height: 60px;
    background-color: $darkgray;
    color: $lightgray;
    padding: 0 15px;
    background-image: url(src/images/logoQulixSystems.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 40px;

    .desktopStuff {
      display: block;
      width: 500px;
      height: 60px;
      float: right;
      padding-top: 15px;
      text-align: end;
      form {
        display: inline-block;
      }
      .selectedCity {
        display: inline-block;
        border: none;
        background-color: $darkgray;
        border-bottom: 1px dashed $gray;
        border-radius: 0;
        font-size: 14px;
        outline: none;
        appearance: none;
      }
      span {
        font-size: 14px;
        margin-right: 5px;
      }
      img {
        vertical-align: middle;
        max-width: 20px;
        margin: 0 3%;
        border-radius: 5px;
      }
      .userImage {
        max-width: 30px;
      }
    }

    .mobileMenu {
      display: none;
    }

    .headerStuff {
      display: none;
    }
  }

  .desktopMenu {
    display: block;
    width: 100%;
    height: 40px;
    background-color: $gray;
    padding-left: calc((100% - 1010px) / 2);
    .menuItems {
      width: 600px;
      text-align: left;
      padding: 10px;
      a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        padding: 5px 5px;
      }
    }
  }

  .desktopMenu {
    a:hover {
      border-top: 6px solid white;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .leftMenu {
      flex: 0 0 170px;
      display: block;
      padding-left: 25px;
      border: 1.5px solid $lightgray;

      a {
        display: block;
        text-decoration: none;
        text-align: left;
        margin-top: 25px;
        font-size: 14px;
        color: #99a1b3;
        span {
          font-size: 14px;
          color: hsl(222, 15%, 65%);
        }
      }
      a:hover {
        color: black;
        span {
          font-size: 14px;
          color: $gray;
        }
      }
      h4 {
        text-align: left;
        color: black;
        font-weight: normal;
        font-family: "Times New Roman", Times, serif;
        margin: 50px 0 25px 0;
        font-size: 20px;
      }
    }

    .content {
      border-right: 1.5px solid $lightgray;

      .contentTitle {
        width: 100%;
        height: 85px;
        text-align: left;
        background-color: white;
        padding: 20px 30px;

        h1 {
          text-align: left;
          margin: 0 0;
          font: 30px Georgia;
        }
        .selectedCity {
          font-size: 34px;
          font-weight: normal;
          outline: none;
          color: $darkgray;
          text-align: left;
          vertical-align: middle;
          border: none;
          border-bottom: 2px dashed black;
          border-radius: 0;
          padding-left: 10px;
          background-color: white;
          font: 30px Georgia;
        }
      }

      .formTools {
        background-color: $lightgray;
        width: 100%;
        height: 60px;
        form {
          height: 60px;
          max-width: 70%;
          float: left;
          img {
            display: none;
            float: left;
            max-width: 25px;
            margin: 17px 25px;
            opacity: 0.4;
          }
          input {
            border-radius: 5px;
            border: 1px solid rgb(222, 222, 222);
            margin: 5px 0 0 30px;
            padding: 0 10px;
            width: 250px;
            height: 50px;
            font-size: 14px;
            outline: none;
            background-image: url(src/images/magnifier-glass_gray.png);
            background-position: 200px 12px;
            background-size: 24px;
            background-repeat: no-repeat;
            opacity: 0.6;
          }
        }
        .plusAndSliders {
          float: right;
          margin-right: 30px;
          .desktopItems {
            display: inline-block;

            a {
            display: inline-block;
            vertical-align: text-top;
            margin: 22px 30px 0 0;
            text-decoration: none;
            color: $gray;
            opacity: 0.7;
            font: 14px Georgia;
            img {
              display: inline-block;
              margin: 0 0;
              max-width: 20px;
            }
          }
          
          }
          img {
            display: none;
          }
        }
      }

      footer {
        .footerMenu {
          text-align: left;
          a {
            color: #99a1b3;
          }
        }
        .copyRight {
          display: block;
          width: 100%;
          padding: 17px 60px;
          height: 50px;
          background-color: $lightgray;
          text-align: left;
          font-size: 14px;
          color: #99a1b3;
          background-image: url(src/images/logoWhite_QulixSystems_gray.png);
          background-repeat: no-repeat;
          background-size: 25px;
          background-position: 22px 17px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    background-position: calc((100% - 950px) / 2);
    .desktopStuff {
      margin-right: calc((100% - 1000px) / 2);
      background-image: none;
      .searchIcon {
        // margin-top: 15px;
        max-width: 20px;
      }
    }
  }
  .main {
    .leftMenu {
      margin-left: calc((100% - 992px) / 2);
    }
    .content {
      margin-right: calc((100% - 992px) / 2);
    }
  }
}
