* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #646d81;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 430px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #2d313d;
  color: #f2f4f8;
  padding: 20px 15px;
}

header .desktopStuff {
  display: none;
}

header .mobileMenu {
  width: 50px;
  height: 40px;
  padding: 5px 0;
  float: left;
}

header .mobileMenu .dropDownIcon .mobileMenuBar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

header .mobileMenu .dropDownList {
  display: none;
  width: 120px;
  height: 220px;
  height: auto;
  position: absolute;
  left: 0;
  top: 80px;
}

header .mobileMenu .dropDownList a {
  display: inline-block;
  width: 110px;
  background-color: #2d313d;
  text-decoration: none;
  color: #f2f4f8;
  padding: 10px;
  cursor: pointer;
}

header .mobileMenu .dropDownList a:hover {
  background-color: #646d81;
}

header .headerStuff {
  width: 75%;
  height: 50px;
  float: right;
  background-image: url(src/images/logoWhite_QulixSystems.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60px;
}

header .headerStuff .selectedCity {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

header .headerStuff span {
  float: left;
  margin: 12px 5% 12px 23%;
  font-size: 22px;
  color: white;
}

header .headerStuff .userImage {
  max-width: 45px;
  margin: 0 3%;
  border-radius: 5px;
}

header .headerStuff .searchIcon {
  max-width: 25px;
  margin: 10px 3%;
}

.desktopMenu {
  display: none;
}

.leftMenu {
  display: none;
}

.content .contentTitle {
  width: 100%;
  height: 80px;
  text-align: center;
}

.content .contentTitle h1,
.content .contentTitle .selectedCity {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: normal;
  margin: 10px 0;
  outline: none;
  color: #2d313d;
}

.content .contentTitle .selectedCity {
  border: none;
  border-bottom: 2px dashed black;
  border-radius: 0;
  padding-right: 5px;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.content .formTools {
  background-color: #f2f4f8;
  width: 100%;
  height: 60px;
}

.content .formTools form {
  height: 60px;
  max-width: 70%;
  float: left;
}

.content .formTools form img {
  float: left;
  max-width: 25px;
  margin: 17px 25px;
  opacity: 0.7;
}

.content .formTools form input {
  margin: 20px 5px;
  padding: 0 10px;
}

.content .formTools .plusAndSliders {
  float: right;
  margin-right: 10px;
}

.content .formTools .plusAndSliders .desktopItems {
  display: none;
}

.content .formTools .plusAndSliders img {
  display: inline-block;
  max-width: 25px;
  margin: 17px 10px;
}

.content .postBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px 20px;
}

.content .postBlock .avatar {
  width: 90px;
}

.content .postBlock .avatar img {
  max-width: 60px;
}

.content .postBlock .postData {
  width: 80%;
}

.content .postBlock .postData .userData {
  margin-bottom: 6px;
}

.content .postBlock .postData .userData p {
  font-size: 14px;
  margin: 0;
  color: #99a1b3;
}

.content .postBlock .postData .userData p span {
  font-size: 14px;
  margin: 0 10px;
  padding: 5px 12px;
  background-color: #f2f4f8;
  border-radius: 5px;
  color: #99a1b3;
}

.content .postBlock .postData .userStat {
  margin-bottom: 6px;
  opacity: 0.7;
}

.content .postBlock .postData .userStat img {
  max-width: 15px;
  opacity: 0.7;
}

.content .postBlock .postData .userStat span {
  font-size: 14px;
  margin-right: 10px;
  color: #99a1b3;
}

.content .postBlock .postData h5 {
  margin: 0;
  color: #7ba8d8;
  font-size: 20px;
}

.content .postBlock .postData p {
  margin: 7px 0;
  color: #2d313d;
}

.content .postBlock .postData .userTags {
  margin-bottom: 6px;
}

.content .postBlock .postData .userTags img {
  max-width: 15px;
  opacity: 0.5;
}

.content .postBlock .postData .userTags span {
  font-size: 14px;
  color: #99a1b3;
}

.content .previuosNextButton {
  text-align: center;
  height: 80px;
  padding: 40px 40px 70px 40px;
  margin-bottom: 10px;
}

.content .previuosNextButton a {
  margin: 12px;
  padding: 18px 30px;
  border: 1px solid #646d81;
  border-radius: 5px;
  color: #2d313d;
  text-decoration: none;
}

.content .previuosNextButton a span {
  margin: 0 10px;
  color: #2d313d;
}

.content .previuosNextButton a img {
  max-width: 6px;
}

footer .footerMenu {
  width: 100%;
  padding: 17px 20px;
  height: 50px;
  background-color: #f2f4f8;
  text-align: center;
  display: block;
  border-bottom: 1px solid white;
}

footer .footerMenu a {
  text-decoration: none;
  margin: 5px;
  font-size: 14px;
}

footer .copyRight {
  display: none;
  width: 100%;
  padding: 17px 60px;
  height: 50px;
  background-color: #f2f4f8;
  text-align: left;
  font-size: 14px;
  background-image: url(src/images/logoWhite_QulixSystems_gray.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 22px 17px;
}

@media (min-width: 650px) {
  header {
    width: 100%;
    height: 60px;
    background-color: #2d313d;
    color: #f2f4f8;
    padding: 0 15px;
    background-image: url(src/images/logoQulixSystems.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 40px;
  }
  header .desktopStuff {
    display: block;
    width: 500px;
    height: 60px;
    float: right;
    padding-top: 15px;
    text-align: end;
  }
  header .desktopStuff form {
    display: inline-block;
  }
  header .desktopStuff .selectedCity {
    display: inline-block;
    border: none;
    background-color: #2d313d;
    border-bottom: 1px dashed #646d81;
    border-radius: 0;
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  header .desktopStuff span {
    font-size: 14px;
    margin-right: 5px;
  }
  header .desktopStuff img {
    vertical-align: middle;
    max-width: 20px;
    margin: 0 3%;
    border-radius: 5px;
  }
  header .desktopStuff .userImage {
    max-width: 30px;
  }
  header .mobileMenu {
    display: none;
  }
  header .headerStuff {
    display: none;
  }
  .desktopMenu {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #646d81;
    padding-left: calc((100% - 1010px) / 2);
  }
  .desktopMenu .menuItems {
    width: 600px;
    text-align: left;
  }
  .desktopMenu .menuItems .desktopItems {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 6px 8px 10px 12px;
    margin-right: 20px;
    border-top: 6px solid #646d81;
  }
  .desktopMenu a:hover {
    border-top: 6px solid white;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main .leftMenu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
    display: block;
    padding-left: 25px;
    border: 1.5px solid #f2f4f8;
  }
  .main .leftMenu a {
    display: block;
    text-decoration: none;
    text-align: left;
    margin-top: 25px;
    font-size: 14px;
    color: #99a1b3;
  }
  .main .leftMenu a span {
    font-size: 14px;
    color: #99a1b3;
  }
  .main .leftMenu h4 {
    text-align: left;
    color: black;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
    margin: 50px 0 25px 0;
    font-size: 20px;
  }
  .main .content {
    border-right: 1.5px solid #f2f4f8;
  }
  .main .content .contentTitle {
    width: 100%;
    height: 85px;
    text-align: left;
    background-color: white;
    padding: 20px 30px;
  }
  .main .content .contentTitle h1 {
    text-align: left;
    margin: 0 0;
    font: 30px Georgia;
  }
  .main .content .contentTitle .selectedCity {
    font-size: 34px;
    font-weight: normal;
    outline: none;
    color: #2d313d;
    text-align: left;
    vertical-align: middle;
    border: none;
    border-bottom: 2px dashed black;
    border-radius: 0;
    padding-left: 10px;
    background-color: white;
    font: 30px Georgia;
  }
  .main .content .formTools {
    background-color: #f2f4f8;
    width: 100%;
    height: 60px;
  }
  .main .content .formTools form {
    height: 60px;
    max-width: 70%;
    float: left;
  }
  .main .content .formTools form img {
    display: none;
    float: left;
    max-width: 25px;
    margin: 17px 25px;
    opacity: 0.4;
  }
  .main .content .formTools form input[type="text"] {
    border-radius: 5px;
    border: 1px solid #dedede;
    margin: 5px 0 0 30px;
    padding: 0 10px;
    width: 250px;
    height: 50px;
    font-size: 14px;
    outline: none;
    background-image: url(src/images/magnifier-glass_gray.png);
    background-position: 200px 12px;
    background-size: 24px;
    background-repeat: no-repeat;
    opacity: 0.6;
  }
  .main .content .formTools .plusAndSliders {
    float: right;
    margin-right: 30px;
  }
  .main .content .formTools .plusAndSliders .desktopItems {
    display: inline-block;
  }
  .main .content .formTools .plusAndSliders .desktopItems a {
    display: inline-block;
    vertical-align: text-top;
    margin: 22px 30px 0 0;
    text-decoration: none;
    color: #646d81;
    opacity: 0.7;
    font: 14px Georgia;
  }
  .main .content .formTools .plusAndSliders .desktopItems a img {
    display: inline-block;
    margin: 0 0;
    max-width: 20px;
  }
  .main .content .formTools .plusAndSliders img {
    display: none;
  }
  .main .content footer .footerMenu {
    text-align: left;
  }
  .main .content footer .footerMenu a {
    color: #99a1b3;
  }
  .main .content footer .copyRight {
    display: block;
    width: 100%;
    padding: 17px 60px;
    height: 50px;
    background-color: #f2f4f8;
    text-align: left;
    font-size: 14px;
    color: #99a1b3;
    background-image: url(src/images/logoWhite_QulixSystems_gray.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 22px 17px;
  }
}

@media (min-width: 992px) {
  header {
    background-position: calc((100% - 950px) / 2);
  }
  header .desktopStuff {
    margin-right: calc((100% - 1000px) / 2);
    background-image: none;
  }
  header .desktopStuff .searchIcon {
    max-width: 20px;
  }
  .main .leftMenu {
    margin-left: calc((100% - 992px) / 2);
  }
  .main .content {
    margin-right: calc((100% - 992px) / 2);
  }
}
