* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #858585;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: #323232;
  color: #e9e9e9;
  padding: 20px 15px;
}

header .mobileMenu {
  width: 50px;
  height: 40px;
  padding: 5px 0;
  float: left;
}

header .mobileMenu .dropDownIcon .mobileMenuBar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

header .mobileMenu .dropDownList {
  display: none;
  width: 120px;
  height: 220px;
  height: auto;
  position: absolute;
  left: 0;
  top: 80px;
}

header .mobileMenu .dropDownList a {
  display: inline-block;
  width: 110px;
  background-color: #323232;
  text-decoration: none;
  color: #e9e9e9;
  padding: 10px;
  cursor: pointer;
}

header .mobileMenu .dropDownList a:hover {
  background-color: #858585;
}

header .headerStuff {
  width: 75%;
  height: 50px;
  float: right;
  background-image: url(src/images/logoWhite_QulixSystems.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60px;
}

header .headerStuff span {
  float: left;
  margin: 12px 5% 12px 23%;
  font-size: 22px;
  color: white;
}

header .headerStuff .userImage {
  max-width: 45px;
  margin: 0 3%;
  border-radius: 5px;
}

header .headerStuff .searchIcon {
  max-width: 25px;
  margin: 10px 3%;
}

.content .contentTitle {
  width: 100%;
  height: 80px;
  text-align: center;
}

.content .contentTitle h1,
.content .contentTitle .selectedCity {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: normal;
  margin: 10px 0;
  outline: none;
  color: #323232;
}

.content .contentTitle .selectedCity {
  border: none;
  border-bottom: 2px dashed black;
  border-radius: 0;
  padding-right: 5px;
  background-color: white;
  background-image: url(src/images/arrowDown.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
}

.content .formTools {
  background-color: #e9e9e9;
  width: 100%;
  height: 60px;
}

.content .formTools form {
  height: 60px;
  max-width: 70%;
  float: left;
}

.content .formTools form img {
  float: left;
  max-width: 25px;
  margin: 17px 25px;
  opacity: 0.4;
}

.content .formTools form input {
  margin: 20px 10px;
}

.content .formTools .plusAndSliders {
  float: right;
  margin-right: 20px;
}

.content .formTools .plusAndSliders img {
  display: inline-block;
  max-width: 25px;
  margin: 17px 20px;
  opacity: 0.4;
}

.content .postBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px 20px;
}

.content .postBlock .avatar {
  width: 90px;
}

.content .postBlock .avatar img {
  max-width: 60px;
}

.content .postBlock .postData {
  width: 80%;
}

.content .postBlock .postData .userData {
  margin-bottom: 6px;
}

.content .postBlock .postData .userData p {
  font-size: 14px;
  margin: 0;
  opacity: 0.7;
}

.content .postBlock .postData .userData p span {
  font-size: 14px;
  margin: 0 10px;
  padding: 5px 12px;
  background-color: #e9e9e9;
  border-radius: 5px;
  opacity: 0.7;
}

.content .postBlock .postData .userStat {
  margin-bottom: 6px;
  opacity: 0.7;
}

.content .postBlock .postData .userStat img {
  max-width: 15px;
  opacity: 0.7;
}

.content .postBlock .postData .userStat span {
  font-size: 14px;
  margin-right: 10px;
  opacity: 0.7;
}

.content .postBlock .postData h5 {
  margin: 0;
  color: #7ba8d8;
  font-size: 20px;
}

.content .postBlock .postData p {
  margin: 7px 0;
  color: #323232;
}

.content .postBlock .postData .userTags {
  margin-bottom: 6px;
}

.content .postBlock .postData .userTags img {
  max-width: 15px;
  opacity: 0.5;
}

.content .postBlock .postData .userTags span {
  font-size: 14px;
  opacity: 0.7;
}
