* {
    box-sizing: border-box;
}

form {
    display: block;
    padding: 15px;
    width: 180px;
    background-color: lightgray;
    text-align: center;
}

input[type=number] {
    width: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

input[type=submit] {
    width: 150px;
    font-size: 20px;
    margin: 5px;
}
